#hero {
  text-align: center;

  & h1 {
    margin-top: 1rem;
  }

  & p {
    font: var(--fw-md) var(--fs-lg) / 1.4rem var(--ff-sans);
    color: var(--text-color-secondary);
    margin-top: 0.5rem;
  }

  & .buttons {
    justify-content: center;
    margin-top: 2rem;
  }
}

#hero img[src*="music"] {
  width: 12.875rem !important;
}

@media (width >= 80em) {
  #hero {
    background: url("../assets/images/bg-hero-desktop.svg") no-repeat bottom
      center/contain;
    padding-bottom: 15rem;

    & h1 {
      margin-top: 1.5rem;
    }

    & p {
      margin-top: 1rem;
      font-size: 2.5rem;
    }

    .buttons {
      margin-top: 3rem;
    }
  }
  #hero img[src*="music"] {
    width: 25.75rem !important;
  }
}
